* {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}
html {
    font-family: sans-serif;
}
header i[class^="fa-user-group"], i[class^="fa-comments"], i[class^="fa"]{
    color: white;
    font-size: 16px;
}
header {
    background-color: #37538C;
    padding: 5px;
}
header a {
    
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

header .menu ul li a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

header .icon-links .quick-options i:hover, header .menu ul a:hover, header .icon-links .privacy i:hover {
    transform: scale(1.3);
    color: #ffcc00; /* optional highlight effect */
}


header .logo-area {
    color: white;
    display: inline-block;
    width: 20%;
    margin-right: -4px;
}n
header .logo-area a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
}
header .menu {
    display: inline-block;
    width: 20%;
    margin-left: -4px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    text-align: right;
    padding-right: 20px;
}
header .menu ul li {
    display: inline-block;
    margin-right: 20px;
}

header .icon-links {
    display: inline-block;
    width: 20%;
    margin-right: -4px;
    padding: 20px;
}
header .icon-links ul li {
    display: inline-block;
    margin-right: 10px;
}
header .icon-links .quick-options {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, .3);
    padding-left: 20px;
    padding-right: 20px;
}
header .icon-links .privacy {
    display: inline-block;
    margin-left: -4px;
    padding-left: 20px;
    cursor: pointer;
}
header .search-area {
    display: inline-block;
    width: 40%;
    margin-right: -4px;
    text-align: right;
}
header .search-area ul li {
    display: inline-block;
}



/* Top Area Section */
#top-area {
    padding: 200px 15px 90px 15px;
     background: url(https://www.wallanza.com/cdn/shop/files/A149_Almost_nearly_perfect_reflection_of_the_Three_Sisters_Peaks_in_the_Bow_River._58244570-1b77-4313-9194-c3d7bae9449c.jpg?quality=90&v=1734511100&width=1326) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* #top-area .profile-info {
    background-color: aquamarine;
} */

#top-area .profile-info .user-img {
    display: inline-block;
}

#top-area .profile-info .user-img img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#top-area .profile-info .user-details {
    display: inline-block;
    vertical-align: top;
}

#top-area .profile-info .user-details h3 {
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 8px;
}

#top-area .profile-info .user-details a {
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    margin-left: -4px;
    margin-right: 5%;
    width: 45%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 9px;
    transition: background .4s ease-in-out;
}

#top-area .profile-info .user-details a:hover {
    background: #21906f;
}

/* Content Section */

#content-area {
    overflow: auto;
    padding: 50px 0;
}
#content-area .widget-box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 3px 6px 0px rgba(138,138,138,0.75);
-webkit-box-shadow: 1px 3px 6px 0px rgba(138,138,138,0.75);
-moz-box-shadow: 1px 3px 6px 0px rgba(138,138,138,0.75);
    margin: 0 0 15px 0;
    padding: 15px;
    overflow: auto;
}

#content-area .widget-box .head .widget-icon{
    background: #bfbfbf;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-area .widget-box .head .widget-icon-container {
    display: inline-block;
}


#content-area .widget-box .head .widget-title {
    display: inline-block;
    padding: 0 0 0 15px;
}

#content-area .widget-box .body {
    padding: 20px 0;
}

#content-area .widget-box .head .widget-icon [class*="fa-"] {
    max-width: 50%;
    font-size: 20px;
}

#content-area .side-column{
    width: 35%;
    margin: 0 2.5%;
    float: left;
    background-color: purple;
    max-width: 400px;
}


#content-area .main-area {
    width: 55%;
    margin: 0 2.5%;
   float: left;
   background-color: #37538C;
}

#content-area .main-area .submenu i.fa-solid.fa-clock {

}



